src/main/app/usecase-business-account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="usecase-business-accountFlow">
        <jms:inbound-endpoint queue="USECASE.BUSINESS.Q.IN" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <enricher target="#[payload]" doc:name="Message Enricher">
            <jms:outbound-endpoint exchange-pattern="request-response" queue="USECASE.PROVIDER.Q1.IN" connector-ref="Active_MQ" doc:name="JMS"/>
        </enricher>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <async doc:name="Async">
            <flow-ref name="generate-report" doc:name="Flow Reference"/>
        </async>
    </flow>
    <flow name="generate-report">
        <object-to-string-transformer doc:name="Object to String"/>
        <file:outbound-endpoint path="c:\\dev" outputPattern="report.txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
